.reader {
	width: 100%;
	height: 100vh;
}

.content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* padding: 0 10px; */
	position: relative;
}

.page {
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;
	/* padding: 0 10px; */
	columns: 100vw 1;
	column-gap: 0;
}