.reader {
	width: 100%;
	height: 100vh;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
}

.page {
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;
	columns: 100vw 1;
	column-gap: 0px;
}